/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ddd;
    color: #000;
    padding: 1rem;
}

nav {
    display: flex;
}
nav a {
    color: #000;
    text-decoration: none;
    margin-left: 1rem;
}

#login-form {
    margin-top: 2rem;
    display: grid;
    max-width: 720px;
    gap: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#login-form h2 {
    margin-bottom: 1rem;
}
#login-form input {
    padding: 0.25rem;
    font-size: 1rem;
}
#login-form button {
    margin-top: 1rem;
    width: 180px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #ff4949;
    color: #000;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
#login-form button:hover {
    transition: 0.6s;
    background-color: #ff0000;
}

#login-form .password-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
#login-form .password-container input {
    width: 100%;
    padding-right: 5px;
}
#login-form button#toggle-password {
    position: absolute;
    right: -20%;
    top: -40%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
#login-form button#toggle-password img {
    width: 24px;
    height: 24px;
}
