/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}
.dark {
    background-color: #15192c;
    color: #fff;
}

header {
    background-color: #ddd;
    color: #000;
    padding: 1rem;
}
.dark header {
    background-color: #363d56;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #000;
    text-decoration: none;
    margin-left: 1rem;
}

nav div {
    display: flex;
    gap: 15px;
}

.dark nav a {
    color: #fff;
}

#login-form {
    margin-top: 2rem;
    display: grid;
    max-width: 720px;
    gap: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#login-form h2 {
    margin-bottom: 1rem;
}
#login-form input {
    background-color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    border: 2px solid #eee;
}
#login-form input:focus {
    border: 2px solid #ddd;
}

.dark #login-form input {
    color: #fff;
    background-color: #363d56;
    border: 2px solid #3f4761;
}
.dark #login-form input:focus {
    border: 2px solid #4a5370;
}

#login-form button {
    margin-top: 1rem;
    width: 180px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #ff4949;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
#login-form button:hover {
    transition: 0.6s;
    cursor: pointer;
    background-color: #ff0000;
}

#login-form .password-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
#login-form .password-container input {
    width: 100%;
    padding-right: 5px;
}
#login-form button#toggle-password {
    position: absolute;
    right: -20%;
    top: -27%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
#login-form button#toggle-password img {
    width: 24px;
    height: 24px;
}

#places-list {
    margin-top: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

.place-card {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #eee;
}
.dark .place-card {
    background-color: #2d3249;
}

.place-card h1,
.place-card p,
.place-card button {
    margin-top: 12px;
    margin-bottom: 12px;
}

#theme-toggle {
    border: none;
    background-color: transparent;
}
#theme-toggle:hover {
    cursor: pointer;
}

.review-page-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}
#reviewing-title {
    text-align: center;
    margin-top: 40px;
}

#review-form {
    display: block;
}

#review-form button, #login-link, .login-button, .details-button {
    padding: 11px 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #ff4949;
}
#review-form button:hover, #login-link:hover, .login-button:hover, .details-button:hover {
    cursor: pointer;
    transition: 0.6s;
    background-color: #ff0000;
}

#login-link {
    padding: 12px 16px;
    line-height: 1.35rem;
}

.details-review-container {
    margin: 24px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.details-review-container #place-details {
    width: 320px;
    text-align: center;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.details-review-container #place-details h1,
.details-review-container #place-details p,
.details-review-container #place-details h2 {
    margin-top: 8px;
}

.dark .details-review-container #place-details {
    background-color: #2d3249;
}

.review-details {
    width: 620px;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: center;
}
.dark .review-details {
    background-color: #2d3249;
}

.review-details h1,
.review-details p {
    margin-bottom: 4px;
}

.star-container {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

#add-review {
    margin-top: 36px;
}
#add-review h2 {
    margin-bottom: 16px;
}
#add-review textarea {
    padding: 4px;
    width: 620px;
    display: block;
    resize: vertical;
    border-radius: 6px;
    border: 1px solid #ddd;
}

#add-review button {
    margin-top: 16px;
}

#add-review .star-container {
    justify-content: start;
    margin-bottom: 8px;
}
#add-review .star-container img:hover {
    cursor: pointer;
}
